@using Solution.Core.Models.Test.Dto;
@model TestParentDto

@{
	var title = "Create Test Parent";
	ViewData["Title"] = title;
	Layout = null;
}

<div class="card">
	<div class="card-header">
		<h2>@title</h2>
	</div>
	<div class="card-body">
		<form asp-action="AddOrEdit" method="post" asp-route-id="@Model.Id" onsubmit="return JQueryAjaxPost(this)" autocomplete="off">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-floating mb-2">
				<input asp-for="ParentName" class="form-control" placeholder=" " />
				<label asp-for="ParentName" class="control-label"></label>
				<span asp-validation-for="ParentName" class="text-danger"></span>
			</div>
			<hr />
			<div class="form-group mt-2">
				<div class="d-flex mb-2">
					<button type="submit" class="btn btn-lg btn-success">Submit</button>
					<a asp-action="Index" class="btn btn-lg btn-warning ms-1">Back to list</a>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}