@using Solution.Core.Models.HR.Dto;
@model DesignationDto
@{
	var title = "Edit Designation";
	ViewData["Title"] = title;
}
<div class="card">
	<div class="card-header">
		<h3>@title</h3>
	</div>
	<div class="card-body">
		<form method="post">
			<input asp-for="Id" hidden />
@*			<input asp-for="CreatedBy" hidden />
			<input asp-for="CreatedDate" hidden />*@

			<div class="form-floating mb-2">
				<input asp-for="DesigName" class="form-control" placeholder=" " />
				<label asp-for="DesigName" class="control-label"></label>
				<span asp-validation-for="DesigName" class="text-danger"></span>
			</div>
			
			<hr />
			<div class="form-group mt-2">
				<div class="d-flex mb-2">
					<button type="submit" class="btn btn-lg btn-warning">Update</button>
					<a asp-action="Index" class="btn btn-lg btn-info ms-1">Back to list</a>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}