@using Solution.Core.Models.HR.Dto;
@model ShiftDto
@{
	var title = "Details Shift";
	ViewData["Title"] = title;
}
<div class="card">
	<div class="card-header">
		<h3>@title</h3>
	</div>
	<div class="card-body">
		<form method="post">
			<input asp-for="Id" hidden />
			<div class="form-floating mb-2">
				<input asp-for="ShiftName" class="form-control" placeholder=" " readonly />
				<label asp-for="ShiftName" class="control-label"></label>
				<span asp-validation-for="ShiftName" class="text-danger"></span>
			</div>
			<div class="form-floating mb-2">
				<input asp-for="TimeIn" class="form-control" placeholder=" " readonly />
				<label asp-for="TimeIn" class="control-label"></label>
				<span asp-validation-for="TimeIn" class="text-danger"></span>
			</div>
			<div class="form-floating mb-2">
				<input asp-for="TimeOut" class="form-control" placeholder=" " readonly />
				<label asp-for="TimeOut" class="control-label"></label>
				<span asp-validation-for="TimeOut" class="text-danger"></span>
			</div>
			<div class="form-floating mb-2">
				<input asp-for="TimeLate" class="form-control" placeholder=" " readonly />
				<label asp-for="TimeLate" class="control-label"></label>
				<span asp-validation-for="TimeLate" class="text-danger"></span>
			</div>
			<div class="form-group mt-2">
				<div class="d-flex mb-2">
					<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
					<a asp-action="Index" class="btn btn-lg btn-warning ms-1">Back to list</a>
				</div>
			</div>
		</form>
	</div>
</div>